<h3>{{setName}}</h3>

<ul>
{{#each totalSet as |rep|}}
    <li>{{rep.numReps}} x {{rep.distance}} of {{rep.stroke}} on {{rep.cycleMin}}:{{rep.cycleSec}} at {{rep.pace}} pace</li>
{{else}}
    <li>(click "+" to add to this swim set)</li>
{{/each}}
</ul>

<form name="{{setName}}">
{{drop-down-list kNumReps name='numReps'}}
&nbsp;
&nbsp;
{{drop-down-list kDistance name='distance'}}
{{drop-down-list kStroke name='stroke'}}
&nbsp;
&nbsp;
{{drop-down-list kCycleMin name='cycleMin'}}
:
{{drop-down-list kCycleSec name='cycleSec'}}
&nbsp;
&nbsp;
{{drop-down-list kPace name='pace'}}
{{!-- drop-down-list kTrend name='trend' --}}
&nbsp;
&nbsp;
<button>+</button>
</form>
